@*@model MVCFormPractice.Models.Book*@

@{
    ViewBag.Title = "AddBook";
}

<h2>AddBook</h2>

<form method="post">

    <div class="row">

        <div class="col-md-6">

            <div class="form-group">
                <label for="title" class="control-label">Title</label>
                <input type="text" id="title" name="title" class="form-control" value="@ViewBag.BookTitle">
            </div>

            <div class="form-group">
                <label for="author" class="control-label">Author</label>
                <input type="text" id="author" name="author" class="form-control" value="@ViewBag.Author">
            </div>

        </div>

    </div>

    <div class="col-md-12">
        <div class="pad-top">
            <button type="submit" class="btn btn-default">Submit</button>

        </div>
    </div>

</form>