@model MVCFormPractice.Models.Book

@{
    ViewBag.Title = Model.DisplayText;
}

<h5><b>Title:</b></h5>
<div>@Model.Title</div>

<h5><b>Author:</b></h5>
<div>@Model.Author</div>

<h5><b>Description:</b></h5>
<div>@Model.Description</div>
